title: "MuLoCo"
description: "Muon is a Practical Inner Optimizer for DiLoCo"
url: "https://bentherien.github.io"
baseurl: "/muloco"
theme: null
plugins:
  - jekyll-seo-tag

exclude:
  - Gemfile
  - Gemfile.lock
